.container {
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-2xl);
  width: 100%;
  background-color: #f3f3f3;
}

.intro {
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  text-align: center;
}

.featuredProductsText {
  font-weight: 600;
  font-size: 2.25rem;
  margin-bottom: 16px;
  color: var(--text-color);
  text-align: center;
}

.contactSubText {
  font-size: 1.5rem;
}

.locationImage {
  max-width: 500px;
  max-height: 350px;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin: 20px;
}

.locationImageWrapper {
  display: flex;
}

.formRoot {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  width: 100%;
}

.formRoot input {
  border-radius: 16px;
  font-weight: normal;
  border: 1px solid black;
  width: 100%;
  height: 35px;
  padding: 10px;
}

.formRoot textarea {
  font-weight: normal;
  height: 100px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 10px;
}

.formRoot form {
  margin-top: 1.5rem;
  width: 40%;
}

.formEmail {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.formTextArea {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 20px;
}

.callButton {
  background-color: var(--primary);
  color: white;
  padding: 15px;
  border-radius: 16px;
  margin: 10px;
}

.contactButtonWrapper {
  display: flex;
  justify-content: center;
}

.submitButton {
  margin: 20px;
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
  border-radius: 35px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: none;
  font-size: 1.0rem;
  width: 190px;
  font-weight: bold;
}

.submitButton:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: none;
}

.submitButtonWrapper {
  display: flex;
  justify-content: center;
}

.emailPhotoLink {
  margin: 20px;
  background-color: #ff7132;
  color: white;
  border-color: #ff7132;
  border-radius: 35px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: none;
  font-size: 1.0rem;
  font-weight: bold;
}

.emailPhotoWrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.emailLinkDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2em;
}

.contestStep {
  list-style-type: none;
}

.contestHeader {
  font-size: 1.5rem;
}

.contactUsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactUsWrapper iframe {
  max-width: 700px;
  margin: auto;
}

.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.callOut>strong {
  text-decoration: underline;
}

.callToAction {
  font-size: var(--text-prose);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.deployButton {
  margin-top: var(--space-lg);
}

.mapWrapper {
  height: 450px;
  width: 500px;
  margin-top: 100px;
}

.locationHelpText {
  font-size: 1.25rem;
  margin: 10px;
  text-align: center;
}

@media (max-width: 640px) {
  .formRoot form {
    width: 75%;
  }

  .locationImageWrapper {
    flex-direction: column;
  }
  .mapWrapper {
    width: 350px;
  }
}