.container {
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-3xl);
  width: 100%;
}

.intro {
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  text-align: center;
}

.featuredProductsText {
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 48px;
  margin-bottom: 16px;
  color: var(--text-color);
}

.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.callOut > strong {
  text-decoration: underline;
}

.callToAction {
  font-size: var(--text-prose);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.deployButton {
  margin-top: var(--space-lg);
}
